.buy {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin-bottom: 2rem; */
  }
  .buy .buyTitle {
    font-family: "Bell MT";
    font-size: 35px;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  
  .buyList {
    /* width: 70vw; */
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* place-items: center; */
  }
  
  /* buy ITEM STYLING */  
  .buyItem {
    display: block;
    border-radius: 7px;
    width: 360px;
    height: 310px;
    margin: 16px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }

  .buyItem:hover {
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in;
    cursor: pointer;
  }
  
  .buyItem div {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    width: 100%;
    height: 210px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .buyItem .property-name{
    font-family: "Bodoni MT";
    text-align: center;
    font-size: 22px;
    margin: 0rem;
    padding: 0px;
  }
  .buyItem .price {
    text-align: center;
    font-size: 18px;
    margin: 0rem;
    padding: 0px;

  }


  .delete{
    margin-top:12rem ;
    background-color: rgb(245, 245, 245);
    border: 1.5px solid;
    width:360px;
  }
  .delete input{
    background-color: rgb(245, 245, 245);
    /* border-bottom: 1px solid; */
  }




  /* This column is used to specify what you want to display o screen as per size of window 
  As here, when we haev full screen(display 3-items & when we have small mobile-like screen(display 1-item)*/
  @media only screen and (max-width: 100%) {
    .buyList {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .buyList {
      grid-template-columns: 1fr;
    }
  }